<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.securekeep">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureKeep"
        tools:targetApi="31">
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".EnterPinActivity"
            android:exported="true" >
        </activity>

        <activity
            android:name=".EarphonesActivity"
            android:exported="false" />
        <activity
            android:name=".OverChargeActivity"
            android:exported="false" />
        <activity
            android:name=".WifiActivity"
            android:exported="false" />
        <activity
            android:name=".ChargeDetectActivity"
            android:exported="false" />
        <activity
            android:name=".AntiPocketActivity"
            android:exported="false"
            android:theme="@style/Theme.SecureKeep" />
        <activity
            android:name=".TouchPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".IntruderActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>