<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.securekeep">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureKeep"
        tools:targetApi="31">
        <activity
            android:name=".PinActivity"
            android:exported="false" />
        <activity
            android:name=".CreatePinActivity"
            android:exported="false" />
        <activity
            android:name=".IntruderSelfieActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".EnterPinActivity"
            android:exported="true" />
        <activity
            android:name=".EarphonesActivity"
            android:exported="false" />
        <activity
            android:name=".OverChargeActivity"
            android:exported="false" />
        <activity
            android:name=".WifiActivity"
            android:exported="false" />
        <activity
            android:name=".ChargeDetectActivity"
            android:exported="false" />
        <activity
            android:name=".AntiPocketActivity"
            android:exported="false"
            android:theme="@style/Theme.SecureKeep" />
        <activity
            android:name=".TouchPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".IntruderActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <service
            android:name=".CameraService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".MyDeviceAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
        </receiver>
    </application>

</manifest>